*{
   color: rgb(240, 240, 240);
   font-family: Verdana,sans-serif ;
}
html,#root{
  background-color: rgb(19, 19, 22);
  width:100vw;
}
body{
  background-color: rgb(19, 19, 22);  
  height:100vh;
  display: flex;
  flex-direction:column;
}
header{
  background-color: rgb(19, 19, 22);
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  border-bottom: 1px solid rgb(60, 60, 60);
  position: sticky;
  top: 0;
  z-index: 1;
}
h1{
  font-size: 25px;
}
h2{
  font-size: 20px;
}
h1,h2{
  text-align: center;
}
td{
  font-size: 12px;
}
.info-detail{
  background-color: rgb(31, 31, 35);
  padding: 30px;
  margin: 20px;
  border-radius: 20px;
  border: 1px solid rgb(60, 60, 60);
  width: 400px;
}
.user-detail-img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: auto;
  display: block;
}
.user-container{
  display: flex;
  justify-content: space-between;
}
table{
  border-spacing: 5px;
  width: 100%;
}
td{
  padding:6px 10px;
  background-color: rgb(49, 49, 50);
  border-radius: 10px;
}
.logo{
  width: 600px;

}
.signin{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.container{
  width: 100%;
  position: relative;
}
canvas{
  position: absolute;
  background-color: black;
   
}
.controls{
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  margin: 20px;
  border-radius: 20px;
  border: 1px solid rgb(60, 60, 60);
  background-color: rgb(31, 31, 35);
}
.control-option {
  display: flex;
  align-items: center;
  width: 300px;
  overflow-y: hidden;
}
.control-option p{
  padding-right: 10px;
}


